<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics >
    <sources>
      <source
          name="System.ServiceModel.MessageLogging"
          switchValue="Information, ActivityTracing" >
        <listeners>
          <add name="yourTrace"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="C:\MessageLog.svclog">
            <filter type="" />
          </add>          
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="compression" type="GlobalCommonLib.GZipMessageEncodingElement, GlobalCommonLib"/>
      </bindingElementExtensions>
    </extensions>
    <diagnostics>
      <messageLogging             
            logMessagesAtTransportLevel="true"
            logMessagesAtServiceLevel="false"
            logMalformedMessages="false"
            logEntireMessage="true"
            maxSizeOfMessageToLog="65535000" maxMessagesToLog="200000" />
    </diagnostics>
    <client>
      <metadata>
        <policyImporters>
          <remove type="System.ServiceModel.Channels.MessageEncodingBindingElementImporter, System.ServiceModel" />
          <extension type="GlobalCommonLib.GZipMessageEncodingElement, GlobalCommonLib" />
        </policyImporters>
      </metadata>
      <!--<endpoint address="http://jerichocentral.quickpractice.com:9876/RoutingSecurityPOC/RoutingService.svc" bindingConfiguration="secureCustomBinding"
        binding="customBinding" contract="ServiceA.Contract.IServiceA" name="WSHttpBinding_IServiceA" />
      <endpoint address="http://jerichocentral.quickpractice.com:9876/RoutingSecurityPOC/RoutingService.svc" bindingConfiguration="CentralServiceBinding"
        binding="wsHttpBinding" contract="ServiceB.Contract.IServiceB" name="WSHttpBinding_IServiceB" />-->
      <endpoint address="http://localhost:1252/RoutingService.svc" bindingConfiguration="secureCustomBinding"
        binding="customBinding" contract="ServiceA.Contract.IServiceA" name="WSHttpBinding_IServiceA" />
      <endpoint address="http://localhost:1252/RoutingService.svc" bindingConfiguration="CentralServiceBinding"
        binding="wsHttpBinding" contract="ServiceB.Contract.IServiceB" name="WSHttpBinding_IServiceB" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="CentralServiceBinding" maxReceivedMessageSize="2147483647" transactionFlow="true" receiveTimeout="infinite" sendTimeout="01:00:00">
          <security mode="None">
          </security>
          <readerQuotas maxDepth="200" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="secureCustomBinding" receiveTimeout="infinite" sendTimeout="01:00:00">
          <compression innerMessageEncoding="textMessageEncoding" compressionAlgorithm="GZip"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>