<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="compression" type="GlobalCommonLib.GZipMessageEncodingElement, GlobalCommonLib"/>
      </bindingElementExtensions>
    </extensions>
    <bindings>      
      <wsHttpBinding>
        <binding name="securityForwsHttp" maxReceivedMessageSize="2147483647" transactionFlow="true" receiveTimeout="infinite" sendTimeout="01:00:00">
          <security mode="Transport">
          </security>
          <readerQuotas maxDepth="200" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="securityNetBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="200" maxStringContentLength="2147483647" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding receiveTimeout="infinite"  sendTimeout="01:00:00"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="secureCustomBinding" receiveTimeout="infinite" sendTimeout="01:00:00">
          <compression innerMessageEncoding="textMessageEncoding" compressionAlgorithm="GZip"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint name="ServiceA"
                address="net.tcp://localhost:9092/ServiceA"
                binding="netTcpBinding" bindingConfiguration="securityNetBinding"
                contract="*"/>
      <endpoint name="ServiceB"
                address="net.tcp://localhost:9093/ServiceB"
                binding="netTcpBinding" bindingConfiguration="securityNetBinding"
                contract="*"/>
    </client>
    <routing>
      <filters>
        <filter name="RegisterServiceAFilter" filterData="IServiceA" customType="RoutingServicePOC.Filter.ActionMessageFilter, RoutingServicePOC"  filterType="Custom" />
        <filter name="RegisterServiceBFilter" filterData="IServiceB" customType="RoutingServicePOC.Filter.ActionMessageFilter, RoutingServicePOC" filterType="Custom" />        
      </filters>
      <filterTables>
        <filterTable name="CentralRoutingTable">
          <add filterName="RegisterServiceAFilter" endpointName="ServiceA" priority="0"/>
          <add filterName="RegisterServiceBFilter" endpointName="ServiceB" priority="0"/>
        </filterTable>
      </filterTables>
    </routing>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RoutingBehavior">
          <routing routeOnHeadersOnly="true" filterTableName="CentralRoutingTable" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="RoutingBehavior" name="System.ServiceModel.Routing.RoutingService">
        <endpoint binding="customBinding" bindingConfiguration="secureCustomBinding"
       name="RoutingEndpoint" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
