<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="securityBinding"  receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="200" maxStringContentLength="2147483647" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="ServiceB.ServiceB" behaviorConfiguration="ServiceBBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9093/" />
          </baseAddresses>
        </host>
        <endpoint address="ServiceB" binding="netTcpBinding" bindingConfiguration="securityBinding" contract="ServiceB.Contract.IServiceB" />
      </service>
    </services>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBBehavior">
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceAuthenticationManager serviceAuthenticationManagerType="ServiceCommonLib.CentralAuthenticationManager, ServiceCommonLib"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>