<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="securityBinding"  receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="200" maxStringContentLength="2147483647" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="ServiceA.ServiceA" behaviorConfiguration="ServiceABehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9092/" />
          </baseAddresses>
        </host>
        <endpoint address="ServiceA" binding="netTcpBinding" bindingConfiguration="securityBinding" contract="ServiceA.Contract.IServiceA" />
      </service>
    </services>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceABehavior">
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceAuthenticationManager serviceAuthenticationManagerType="ServiceCommonLib.Test.CentralAuthenticationManager, ServiceCommonLib"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>